h1 {
  background-color: red;
  color:white;
  margin: 0;
}

h2{
  background-color: deepskyblue;
  margin: 0;
}

h6{
  background-color: black;
  color:white;
  margin: 0;
}

h3{
  background-color: red;
  color: white;
  margin: 0;
}

h4{
  background-color: black;
  color:white;
  margin: 0;
}

